
.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

package-lock.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# video
*.mkv
*.mp4

# py cache
*__pycache__*
*.pyc
*.egg*

# alenmbic
*alembic*

#misc
*.fuse*
*.tar*
*.zip

*.log

deps*

venv

data
wsdata

_me_*
htmlcov
.coverage

build

